* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: Helvetica;
}

.content-container {
  align-self: center;
  flex: 1;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;         /* Centrera innehållet i header-container */
  width: 100%;
  text-align: left;
  background-color: #D93B48;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 20px;
}

.logo-container {
  /* flex: 1; */
  color: white;                    /* Ändra textfärgen till vit */
  margin-right: 50px;             /* Lägg till 100px mellanrum till nästa element */
}

.selection-container {
  display: flex;
  gap: 10px;
}

h1 {
  font-size: 40px; 
}

h2 {
}

p {
}

.description-container {
  margin-top: 30px;
  margin-bottom: 30px;
}
.chart-container {
  margin-top: 20px; /* Eller den önskade marginalen */
  width: 100%; /* Tar upp hela bredden inom föräldern */
  max-width: 1000px; /* Eller någon annan önskad maxbredd */
  margin-bottom: 50px;
}

.slider-container {
  margin-top: 30px;
  text-align: center;
}

.slider-width {
  width: 50%;
}

.footer-spacer {
  height: 100px; /* Ändra detta värde för att justera höjden */
}

/* Återställning av standardutseendet för skjutreglaget i Webkit-baserade webbläsare */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
}

/* Styling för skjutreglaget i Chrome/Safari (Webkit) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #777777;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #ffffff;
  margin-top: -7px; /* För att centrera skjutreglaget vertikalt på löpspåret */
}

/* Styling för skjutreglagets löpspår i Chrome/Safari (Webkit) */
input[type="range"]::-webkit-slider-runnable-track {
  height: 6px;
  cursor: pointer;
  background: #CDCDCD; /* Kontrollerade och ändrade färgvärdet */
}

/* Styling för skjutreglaget i Firefox */
input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #777777;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #ffffff; /* Lägger till en vit kant kring skjutreglaget */
}

/* Styling för skjutreglagets löpspår i Firefox */
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #CDCDCD; /* Kontrollera denna färg, den verkar vara ofullständig */
}


/* input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #777;
  cursor: pointer;
  border-radius: 50%;
  border-color: #ffffff;
} */

/* input[type="range"]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #3333;
} */
